/* This stylesheet is meant for custom styles, on top of the Bone Template */
.dark-brand, .light-brand {
    width:200px;
    margin-top:1em
}


#here {
    background:url('../images/05.jpg');
    background-size:cover;
    background-position:center center;
    min-height:500px;
    background-attachment:fixed;
}

#clients {
    padding-bottom:0;
}

#contact {
    padding-top:0;
}
